#!/usr/bin/env bash
# the shebang is ignored, but nice for editors

if type -P lorri &>/dev/null; then
  eval "$(lorri direnv)"
else
  if type -P nix_direnv_manual_reload &>/dev/null; then
    nix_direnv_manual_reload
  fi

  use nix
fi


