theme = "ayu_dark"

[editor]
mouse = false

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.file-picker]
hidden = false

[editor.lsp]
display-messages = true

[editor.soft-wrap]
enable = true
wrap-indicator = ""

[editor.auto-save]
focus-lost = true
after-delay.enable = true
after-delay.timeout = 700
